@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container__str{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    color: #000000;
    text-transform: none;
    margin: 0;
}
.container__list{
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 30px;
}
.container__list li{
    color: grey;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;

}
.container__list li span{
    color: grey;
}
.container__h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    color: #000000;
    text-transform: none;
    margin-bottom: 12px;
}
.container__list2{
    color: black;
    margin-left: 30px;
}
.container__list2 li{
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}
.container__txt{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #717171;
    padding-right: 10px;
}
.w-100{
    margin-bottom: 20px;
}
.container__grey{
    background-color: #f3f3f3;
    padding: 10px;
    margin-bottom: 30px;
}
.grey__txt{
    color: #1551a1;
    text-transform: none;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
}
.container__list3{
    margin-left: 30px;
    margin-bottom: 20px;
}
.container__list3 li{
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    color: black;
    margin-bottom: 10px;
}
.container__ol{
    margin-left: 30px;
    line-height: 30px;
}
.container__grey2{
    background-color: #f3f3f3;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
.p{
    text-transform: none;
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    font-family: 'Roboto',sans-serif;
    color: #1551a1;
    margin: 0;
}
.btn-wrapper{
    position: relative;
}
.btn{
    display: block;
    position: relative;
    padding: 10px;
    min-width: 180px;
    max-width: 180px;
    transform: skewX(-15deg);
    background-color: #ff6f1e;
    color: #fff;
    z-index: 2;
    font-size: 10px;
}
.btn__span{
    position: absolute;
    top: 8px;
    height: 36px;
    left: -9px;
    min-width: 180px;
    max-width: 180px;
    transform: skewX(-15deg);
    background-color: #1551a1;
}
/* pop-up */

.custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 880px;
    margin: 30px auto;
    max-width: 97%;
  }
  .custom-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
      overflow-y: auto;
  }
  .model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
  }
  .model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }
  .bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #fff;
  }
  
  @media screen and (min-width:800px){
      .custom-model-main:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
      }
  }
  @media screen and (max-width:799px){
    .custom-model-inner{margin-top: 45px;}
  }
  @media (min-width:768px) and (max-width:1200px){
    .custom-model-inner {
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        transform: translate(0, -25%);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: -webkit-transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
        display: inline-block;
        vertical-align: middle;
        width: 760px;
        margin: 30px auto;
        max-width: 97%;
      }
  }